<%- include("../includes/header.ejs", {title: "Update " + account.account_name}); %>

<h1>Update <%= account.account_name%></h1>
<form action="/account/update" method="get">
    <input type="hidden" id="account_id" name="account_id" value="<%= account.account_id %>">
    Email: <input id="email" name="email" type="text" value="<%= account.email%>"/>
    <br />
    First Name:  <input id="first_name" name="first_name" type="text" value="<%= account.first_name%>" />
    Last Name: <input id="last_name" name="last_name" type="text" value="<%= account.last_name%>" />
    <br />

    Schools <br />
    <select id="school_id" name="school_id" multiple="multiple">
        <% for(var i=0; full_school.length > i; i++ ) {
            var selected = "";
            for(var j=0; school.length > j; j++){
                if(school[j].school_id === full_school[i].school_id)
                    selected = "selected";
            }
        %>
        <option value="<%= full_school[i].school_id %>" <%= selected %> ><%= full_school[i].school_name %></option>
        <% } %>
    </select>

    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#school_id').multiselect();
        });
    </script>

    <br />
    Company <br />
    <select id="company_id" name="company_id" multiple="multiple">
        <% for(var i=0; full_company.length > i; i++ ) {
            var selected = "";
            for(var j=0; company.length > j; j++){
                if(company[j].company_id === full_company[i].company_id)
                    selected = "selected";
            }
        %>
        <option value="<%= full_company[i].company_id %>" <%= selected %> ><%= full_company[i].company_name %></option>
        <% } %>
    </select>

    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#company_id').multiselect();
        });
    </script>


    <br />
    Skills <br />
    <select id="skill_id" name="skill_id" multiple="multiple">
        <% for(var i=0; full_skill.length > i; i++ ) {
            var selected = "";
            for(var j=0; skill.length > j; j++){
                if(skill[j].skill_id === full_skill[i].skill_id)
                    selected = "selected";
            }
        %>
        <option value="<%= full_skill[i].skill_id %>" <%= selected %> ><%= full_skill[i].skill_name %></option>
        <% } %>
    </select>

    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#skill_id').multiselect();
        });
    </script>

    <br />
    <input type="submit" />

</form>

<%- include("../includes/footer.ejs"); %>

</html>