<%- include("../includes/header.ejs", {title:"Account - " + result.email}); %>
<h1>Account</h1>
<ul>
    <li>Account Email: <%= result.email %></li>
    <li>First Name: <%= result.first_name %></li>
    <li>Last Name: <%= result.last_name %></li>

        <li>Schools:
            <ul>
                <% for(var i=0; school.length > i; i++ ) { %>
                <li><%= school[i].school_name%></li>
                <% } %>
            </ul>
        </li>
    <li>Companies:
        <ul>
            <% for(var i=0; company.length > i; i++ ) { %>
            <li><%= company[i].company_name%></li>
            <% } %>
        </ul>
        </li>
    <li>Skills:
        <ul>
            <% for(var i=0; skill.length > i; i++ ) { %>
            <li><%= skill[i].skill_name%></li>
            <% } %>
        </ul>
        </li>

</ul>

<a href="/account/all"><< back</a>

<%- include("../includes/footer.ejs"); %>