<%- include("../includes/header.ejs", {title:"Companies - " + result[0].resume_name}); %>
    <h1>Resume</h1>
    <ul>
        <li>Resume Name: <%= result[0].resume_name %></li>
        <li>Schools:
            <ul>
                <% for(var i=0; school.length > i; i++ ) { %>
                <li><%= school[i].school_name%></li>
                <% } %>
            </ul>
        </li>
        Companies:
        <ul>
            <% for(var i=0; company.length > i; i++ ) { %>
            <li><%= company[i].company_name%></li>
            <% } %>
        </ul>
        </li>
        Skills:
        <ul>
            <% for(var i=0; skill.length > i; i++ ) { %>
            <li><%= skill[i].skill_name%></li>
            <% } %>
        </ul>
        </li>
    </ul>

<a href="/resume/all"><< back</a>

<%- include("../includes/footer.ejs"); %>