<%- include("../includes/header.ejs", {title: "Update " + resume.resume_name}); %>

<h1>Update <%= resume.resume_name%></h1>
<% if(locals.was_successful) { %>
<div class="col-md-12">
    <div id="message" class="alert alert-success col-md-4">
        <%= resume.resume_name %> was successfully saved. %>
    </div>
</div>
<% }%>
<form action="/resume/update" method="get">
    <input type="hidden" id="resume_id" name="resume_id" value="<%= resume.resume_id %>">
    Resume Name: <input id="resume_name" name="resume_name" type="text" value="<%= resume.resume_name%>"/>
    <br />
    <br />
    Schools <br />
    <select id="school_id" name="school_id" multiple="multiple">
        <% for(var i=0; full_school.length > i; i++ ) {
            var selected = "";
            for(var j=0; school.length > j; j++){
                if(school[j].school_id === full_school[i].school_id)
                    selected = "selected";
            }
        %>
        <option value="<%= full_school[i].school_id %>" <%= selected %> ><%= full_school[i].school_name %></option>
        <% } %>
    </select>

    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#school_id').multiselect();
        });
    </script>

    <br />
    Company <br />
    <select id="company_id" name="company_id" multiple="multiple">
        <% for(var i=0; full_company.length > i; i++ ) {
            var selected = "";
            for(var j=0; company.length > j; j++){
                if(company[j].company_id === full_company[i].company_id)
                    selected = "selected";
            }
        %>
        <option value="<%= full_company[i].company_id %>" <%= selected %> ><%= full_company[i].company_name %></option>
        <% } %>
    </select>

    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#company_id').multiselect();
        });
    </script>


    <br />
    Skills <br />
    <select id="skill_id" name="skill_id" multiple="multiple">
        <% for(var i=0; full_skill.length > i; i++ ) {
            var selected = "";
            for(var j=0; skill.length > j; j++){
                if(skill[j].skill_id === full_skill[i].skill_id)
                    selected = "selected";
            }
        %>
        <option value="<%= full_skill[i].skill_id %>" <%= selected %> ><%= full_skill[i].skill_name %></option>
        <% } %>
    </select>

    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#skill_id').multiselect();
        });
    </script>

    <br />

    <input type="submit" />

</form>

<br />
<a href="/resume/all"><-- Return To Resumes</a>

<%- include("../includes/footer.ejs"); %>

</html>