<%- include("../includes/header.ejs", {title:"Add New Company"}); %>
    <h1>Select A User</h1>
    <form action="/resume/add" method="get">
        Users
        <br />
        <select id="account_id" name="account_id">
            <% for(var i=0; account.length > i; i++ ) { %>
                <option value="<%= account[i].account_id %>"><%= account[i].last_name + ', ' + account[i].first_name %></option>
            <% } %>
        </select>

        <br />
        <input type="submit" />

    </form>
<%- include("../includes/footer.ejs"); %>