<%- include("../includes/header.ejs", {title: "Update " + company.company_name}); %>

<h1>Update <%= company.company_name%></h1>
<% if(locals.was_successful) { %>
<div class="col-md-12">
    <div id="message" class="alert alert-success col-md-4">
        <%= company.company_name %> was successfully saved. %>
    </div>
</div>
<% }%>
<form action="/company/update" method="get">
    <input type="hidden" id="company_id" name="company_id" value="<%= company.company_id %>">
    Company Name: <input id="company_name" name="company_name" type="text" value="<%= company.company_name%>"/>
    <br />
    <br />
    Addresses <br />
    <select id="address_id" name="address_id" multiple="multiple">
        <% for(var i=0; full_address.length > i; i++ ) {
            var selected = "";
            for(var j=0; address.length > j; j++){
                if(address[j].address_id === full_address[i].address_id)
                    selected = "selected";
            }
        %>
        <option value="<%= full_address[i].address_id %>" <%= selected %> ><%= full_address[i].street %></option>
        <% } %>
    </select>

    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#address_id').multiselect();
        });
    </script>

    <br />

    <input type="submit" />

</form>

<a href="/company/all"><< back</a>

<%- include("../includes/footer.ejs"); %>

</html>