<%- include("../includes/header.ejs", {title:"addresss - " + result[0].street}); %>
<h1>Addresses</h1>
<ul>
    <li>Full Address Name: <%= result[0].street %></li>
    <li>Zip Code: <%= result[0].zip_code %></li>
</ul>

<a href="/address/all"><< back</a>

<%- include("../includes/footer.ejs"); %>