<%- include("../includes/header.ejs", {title:"Companies - " + result[0].school_name}); %>
    <h1>School</h1>
    <ul>
        <li>School Name: <%= result[0].school_name %></li>
        <li>Address:
            <ul>
                <li><%= result[0].street + ', ' + result[0].zip_code %></li>
            </ul>
        </li>
    </ul>

<a href="/school/all"><< back</a>

<%- include("../includes/footer.ejs"); %>